/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   main.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: fbenneto <f.benneto@student.42.fr>         +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2018/05/14 19:37:07 by fbenneto          #+#    #+#             */
/*   Updated: 2018/05/15 19:28:18 by fbenneto         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

* {
	margin: 0;
}

html, body
{
	height: 100%;
}

body
{
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
}

header
{
	text-align: center;
	margin: 10px;
}

header h1
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

header.major
{
	top: 20px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	text-align: center;
	border-top: solid 1px #ccc;
}

header.major h2
{
	background: #f7f7f7;
	position: relative;
	top: -0.65em;
	display: inline;
	margin: 0;
	padding: 0 1em 0 1em;
}

#main_footer
{
	background-color: rgb(53, 53, 53);
	color: white;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#main_footer a
{
	text-decoration: none;
	color: white;
}

#main_footer ul
{
	list-style-type: none;
	text-decoration: none;
}

#main_footer a:hover
{
	text-decoration: underline;
}

#main_footer div
{
	margin: 10px;
}

#main_footer h3
{
	padding: 5px;
}

#menu_nav ul
{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin-left: 25%;
	margin-right: 25%;
	justify-content: space-around;
}

#menu_nav a
{
	text-decoration: none;
	border: 0px white solid transparent;
	font-style: italic;
	color: grey;
	font-weight: lighter;
	font-style: italic;
	border-radius: 5px;
	padding: 5px;
}

#banner
{
	background: url("img/42_school_banner.jpeg") no-repeat;
	height: 637px;
	position: relative;
	background-position: center;
	background-size: cover;
}

#banner_descipt
{
	color: rgba(255,255,255,0.85);
	position: absolute;
	text-align: right;
	width: 100%;
	bottom: 0;
	background-color: rgba(24, 24, 24, 0.8);
}


#img_profil
{
	text-align: center;
}

#banner_descipt p
{
	display: inline;
	padding-right: 5px;
}

#logo42
{
	float: left;
}

.index_nav:hover
{
	background-color: rgba(128, 128, 128, 0.33);
}

.current
{
	text-decoration: none;
	font-weight: bold;
	color: white !important;
	background-color: #d52349;
}

.page-wrap
{
	min-height: 100%;
	margin: 0 auto -142px;
}

.desciption
{
	border-top: 1px solid #726e72;
	padding-top: 4px;
	margin: 4px;
}

.article
{
	padding-left: 15%;
	padding-right: 15%;
}

.portfolio
{
	vertical-align: middle;
	text-align: center;
	margin-bottom: 50px;
}

.row
{
	border-bottom: solid 1px transparent;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* background-color: red; */
}

.row > *
{
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 0 40px;
}

.row:after, .row:before
{
	content: '';
	display: block;
	clear: both;
	height: 0;
}

.box
{
	background: #fff;
	border-bottom: solid 1px #ccc;
	margin-bottom: 10px;
	min-height: 425px;
	width: 300px;
}

.box > .word
{
	margin-bottom: 10px;
	text-align: justify;
	/* font-size: 100%; */
}

.box header, .box p, .box footer
{
	text-align: left;
	width: fit-content;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 40px;
}

.box p
{
	min-height: 40px;
}
.button.alt
{
	-webkit-appearance: none;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	background: #d52349;
	color: #fff !important;
	font-weight: 700;
	outline: 0;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
}

.button.alt
{
	background: #252122;
	padding: 5px;
	text-decoration: none;
}

.button.alt:hover
{
	background: #353333;
}

.word
{
	text-decoration: none;
	padding-bottom: 50px;
}

.word p
{
	padding-top: 20px;
	height: 200px;
	width: 300px;
	margin: 0 0 0 0;
	text-align: center;
	font-size: 9em;
	background: rgb(0, 110, 255);
	color: rgb(0, 140, 255);
	text-decoration: none;
	overflow: hidden;
}

ul.social
{
	width: 20%;
	padding: 0;
	text-align: center;
	display: flex;
}

ul.social li
{
	padding-left: 5px;
	padding-right: 5px;
}

ul.social img
{
	width: auto;
}

i.icon
{
	font-size: 2em;
}

.flex
{
	display: flex;
}

.flex-1
{
	flex:1;
}

.flex-8
{
	flex:8;
}

.mailto
{
	padding-left: 20%;
	width: 80%;
	vertical-align: center;
	padding-bottom: 20px;
}

.input_mail
{
	min-width: 200px;
}

.text_mail
{
	padding-bottom: 20px;
	/* min-height: 400px; */
}

.page
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content
{
	flex: 1;
	min-height: 100vh
}
@font-face
{
	font-family: "fontawesome";
	src : url("fonts/fontawesome-webfont.eot");
	src : url("fonts/fontawesome-webfont.eot?#iefix") format('embedded-opentype'),
	url("fonts/FontAwesome.otf") format('otf'),
	url("fonts/fontawesome-webfont.svg#fontawesome-webfont") format('svg'),
	url("fonts/fontawesome-webfont.ttf") format('truetype'),
	url("fonts/fontawesome-webfont.woff") format('woff'),
	url("fonts/fontawesome-webfont.woff2") format('woff2');
}
